// Define variable defaults

$dark-theme-color: #fff;
$dark-theme-bg: #121212;

/* Define styles for the default root window element */
:root {
    --background-color-primary: #fafafa;
    --background-color-secondary: #ebebeb;
    --background-color-inverse: #1e1e1e;
    --accent-color: #cacaca;
    --text-primary-color: #222;
    --element-secondary-color: rgb(214, 211, 211);
    --element-size: 4rem;
    --skill-link: rgb(209, 206, 206);
    --skill-link-hover: white; 
  }
/* define styles for the root window with dark - mode preference */
:root.dark-theme {
    --background-color-primary: #1e1e1e;
    --background-color-secondary: #2d2d30;
    --background-color-inverse: #fafafa;
    --accent-color: #3f3f3f;
    --text-primary-color: #ddd;
    --element-secondary-color: #ddd;
}

html, body {
    scroll-padding-top: 80px;
    scroll-behavior: smooth;
}

html, #app {
    font-family: Avenir, Roboto, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--background-color-primary);
    nav {
        background-color: var(--background-color-primary);
        h1, a {
            color: var(--text-primary-color);
        }
    }
    .dropdown-item {
        color: #222;
    }
}

h1,
h2,
h3,
h4,
a,
p {
    color: var(--text-primary-color) !important;
}

section > div > a:visited,
section > div > a:focus,
section > div > a:active
{
    color: var(--text-primary-color) !important;
}

section > div > a:hover {
    color: #dc3545 !important;
}

.mt-6 {
    margin-top: 3.5rem;
}


// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';
